@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = $"Register {ViewData["LoginProvider"]} Account";
}

<div class="container">
    <div class="row justify-content-center">
        <h2 class="my-4 col-12">@ViewData["Title"]</h2>
        <h4>Association Form</h4>
        <hr/>
        <form asp-controller="Account"
              asp-action="ExternalLoginConfirmation"
              asp-route-returnurl="@ViewData["ReturnUrl"]"
              method="post"
              class="col-12 col-md-8"
              role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <p class="text-info">
                You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
                Please enter a user name for this site below and click the Register button to finish
                logging in.
            </p>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-info">Register</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}